absl-py==0.11.0
astor==0.8.1
biopython==1.78
cached-property==1.5.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.33.2
h5py==2.10.0
importlib-metadata==3.1.0
joblib==0.17.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.3
numpy==1.18.5
opt-einsum==3.3.0
pandas==1.1.4
protobuf==3.14.0
python-dateutil==2.8.1
pytz==2020.4
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==2.7.2
termcolor==1.1.0
threadpoolctl==2.1.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
